<h1><%= t(:head, scope: :"views.posts.index.label") %></h1>

<table>
  <tr>
    <th><%= t(:name, scope: :"views.posts.index.label") %></th>
    <th><%= t(:title, scope: :"views.posts.index.label") %></th>
    <th><%= t(:tags, scope: :"views.posts.index.label") %></th>
    <th><%= t(:num_comments, scope: :"views.posts.index.label") %></th>
    <th><%= t(:content, scope: :"views.posts.index.label") %></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= getTagnames(post, :max => 2).join(", ") %></td>
    <td align="right"><%= post.comments.size %></td>
    <td><%= post.content %></td>
    <td><%= link_to t(:show, :scope => 'helpers.label'), post %></td>
    <td><%= link_to t(:edit, :scope => 'helpers.label'), edit_post_path(post) %></td>
    <td><%= link_to t(:destroy, :scope => 'helpers.label'), post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to t(:new_post, scope: :"views.posts.index.label"), new_post_path %>
